<h1>Listing stopwords</h1>

<table>
  <tr>
    <th>Word</th>
    <th>Stopword list</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stopwords.each do |stopword| %>
  <tr>
    <td><%= stopword.word %></td>
    <td><%= stopword.stopword_list %></td>
    <td><%= link_to 'Show', stopword %></td>
    <td><%= link_to 'Edit', edit_stopword_path(stopword) %></td>
    <td><%= link_to 'Destroy', stopword, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stopword', new_stopword_path %>
