<%= form_for(@sentence) do |f| %>
  <% if @sentence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sentence.errors.count, "error") %> prohibited this sentence from being saved:</h2>

      <ul>
      <% @sentence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :raw %><br />
    <%= f.text_field :raw %>
  </div>
  <div class="field">
    <%= f.label :tokenized %><br />
    <%= f.text_field :tokenized %>
  </div>
  <div class="field">
    <%= f.label :post %><br />
    <%= f.text_field :post %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :stopword_list %><br />
    <%= f.text_field :stopword_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
