<h1>Listing sentences</h1>

<table>
  <tr>
    <th>Raw</th>
    <th>Tokenized</th>
    <th>Post</th>
    <th>Comment</th>
    <th>Stopword list</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sentences.each do |sentence| %>
  <tr>
    <td><%= sentence.raw %></td>
    <td><%= sentence.tokenized %></td>
    <td><%= sentence.post %></td>
    <td><%= sentence.comment %></td>
    <td><%= sentence.stopword_list %></td>
    <td><%= link_to 'Show', sentence %></td>
    <td><%= link_to 'Edit', edit_sentence_path(sentence) %></td>
    <td><%= link_to 'Destroy', sentence, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sentence', new_sentence_path %>
