<p id="notice"><%= notice %></p>

<h1>Available Datasets Ready for Tagging</h1>

<% @datasets.each do |dataset| %>
  <p>
    <h4><%= link_to dataset.name, posts_url(:dataset => dataset.id) %></h4>
    <%= dataset.description -%>
    <% if @user.is_superuser -%>
      <%= link_to 'Edit', edit_dataset_path(dataset) %>
      <%= link_to 'Destroy', dataset, confirm: 'Are you sure?', method: :delete %>
    <% end -%>
  </p>
<% end %>

<br />
<% if @user.is_superuser -%>
  <%= link_to 'New Dataset', new_dataset_path %>
<% end -%>
