<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mallet_run.name %>
</p>

<p>
  <b>Num topics:</b>
  <%= @mallet_run.num_topics %>
</p>

<p>
  <b>Num iterations:</b>
  <%= @mallet_run.num_iterations %>
</p>

<p>
  <b>Optimize burn in:</b>
  <%= @mallet_run.optimize_burn_in %>
</p>

<p>
  <b>Use symetric burn in:</b>
  <%= @mallet_run.use_symetric_burn_in %>
</p>

<p>
  <b>Alpha:</b>
  <%= @mallet_run.alpha %>
</p>

<p>
  <b>Dataset:</b>
  <%= @mallet_run.dataset %>
</p>

<p>
  <b>State:</b>
  <%= @mallet_run.state %>
</p>

<%= link_to 'Run', run_mallet_run_path(@mallet_run), :method => :post %> | 
<%= link_to 'Run 5-fold validation', run_validation_mallet_run_path(@mallet_run, :k => 5), :method => :post %> |
<%= link_to 'Run 10-fold validation', run_validation_mallet_run_path(@mallet_run, :k => 10), :method => :post %> |
<%= link_to 'Edit', edit_mallet_run_path(@mallet_run) %> |
<%= link_to 'Back', mallet_runs_path %>

<% @mallet_run.jobs.each do |job| -%>
  <h4><%= link_to job, jobs_mallet_run_path( @mallet_run, :job => job) -%>
<% end -%>
