<h1>Listing access_tokens</h1>

<table>
  <tr>
    <th>Facebook ID</th>
    <th>Name</th>
    <th>Access Token</th>
    <th>Use for stats</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @access_tokens.each do |access_token| %>
  <tr>
    <td><%= access_token.fbid %></td>
    <td><%= access_token.name %></td>
    <td><%= access_token.access_token %></td>
    <td><%= access_token.use_for_stats ? "Yes" : "No" %></td>
    <td><%= link_to 'Show', access_token %></td>
    <td><%= link_to 'Edit', edit_access_token_path(access_token) %></td>
    <td><%= link_to 'Destroy', access_token, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Access token', new_access_token_path %>
<br />
<%= link_to 'Create Access Token via Facebook', @oauth.url_for_oauth_code %>
