<p id="notice"><%= notice %></p>

<p>
  <b>Facebook:</b>
  <%= @page.facebook_id %>
</p>

<p>
  <b>Name:</b>
  <%= @page.name %>
</p>

<p>
  <b>Photo url:</b>
  <%= @page.photo_url %>
</p>

<p>
  <b>Username:</b>
  <%= @page.username %>
</p>

<p>
  <b>Can post:</b>
  <%= @page.can_post %>
</p>

<p>
  <b>Like count:</b>
  <%= @page.like_count %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
