<h1>Listing user_post_tags</h1>

<table>
  <tr>
    <th>Post</th>
    <th>Access token</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_post_tags.each do |user_post_tag| %>
  <tr>
    <td><%= user_post_tag.post %></td>
    <td><%= user_post_tag.access_token %></td>
    <td><%= user_post_tag.tag %></td>
    <td><%= link_to 'Show', user_post_tag %></td>
    <td><%= link_to 'Edit', edit_user_post_tag_path(user_post_tag) %></td>
    <td><%= link_to 'Destroy', user_post_tag, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User post tag', new_user_post_tag_path %>
