<h1>Listing lda_post_topics</h1>

<table>
  <tr>
    <th>Post</th>
    <th>Lda topic</th>
    <th>Weight</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lda_post_topics.each do |lda_post_topic| %>
  <tr>
    <td><%= lda_post_topic.post %></td>
    <td><%= lda_post_topic.lda_topic %></td>
    <td><%= lda_post_topic.weight %></td>
    <td><%= link_to 'Show', lda_post_topic %></td>
    <td><%= link_to 'Edit', edit_lda_post_topic_path(lda_post_topic) %></td>
    <td><%= link_to 'Destroy', lda_post_topic, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lda post topic', new_lda_post_topic_path %>
