<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @strategy.name %>
</p>

<p>
  <b>Description:</b>
  <%= @strategy.description %>
</p>

<p>
  <b>Type:</b>
  <%= @strategy.type %>
</p>

<p>
  <b>Options:</b>
  <%= @strategy.options %>
</p>


<%= link_to 'Edit', edit_strategy_path(@strategy) %> |
<%= link_to 'Back', strategies_path %>
