<!DOCTYPE html>
<html>
<head>
  <title>Walltriage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if @user.nil? -%>
    <span><%= link_to 'Log in', @oauth.url_for_oauth_code -%></span>
  <% else -%>
    <span><%= @user.name -%></span> <span><%= link_to 'Log out', log_out_access_tokens_path -%></span>
  <% end -%>
  
<%= yield %>

</body>
</html>
